@use '@/common/variables.scss' as globals;
@use './variables.scss' as vars;

.nav {
  display: flex;
  justify-content: center;
  flex: 2;
  align-items: center;
  height: 100%;
  @include globals.hideDown(vars.$mobileBreakpoint - 1);
}

.loggedIn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.linkLarge {
  @extend .link;
  font-size: large;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem 0 2rem;

  &:hover {
    background-color: globals.$dark3;
  }
}
