@use '@/common/variables.scss' as globals;
@use './variables.scss' as vars;
@use './desktopHeader.scss';
@use './mobileHeader.scss';

.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: globals.$background;
  padding: 0 2rem 0 2rem;
  top: calc(0px - globals.$headerHeight);
  z-index: 100;
  height: globals.$headerHeight;
  color: globals.$text2;
  z-index: 1000;
}

.title {
  display: inline;
  color: globals.$text4;
  text-decoration: none;
  font-size: 1.25rem;
}

.titleBlock {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.profile {
  flex: 1;
  @include globals.hideDown(vars.$mobileBreakpoint);
}

.auth {
  display: flex;
  gap: 0.25rem;
  align-items: flex-end;
  justify-content: flex-end;
}

.menuBtn {
  @include globals.hideUp(vars.$mobileBreakpoint);
}
