@use '@/common/variables.scss' as globals;
@use './styles/variables.scss' as vars;
@use './styles/desktopHeader.scss';
@use './styles/mobileHeader.scss';

.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: globals.$dark;
  padding: 0 2rem 0 2rem;
  top: 0;
  z-index: 100;
  height: globals.$headerHeight;
  color: globals.$text;
}

.title {
  display: inline;
  color: globals.$heading;
  text-decoration: none;
  font-size: 1.25rem;
}

.titleBlock {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.profile {
  flex: 1;
  @include globals.hideDown(vars.$mobileBreakpoint);
}

.auth {
  display: flex;
  gap: 0.25rem;
  align-items: flex-end;
  justify-content: flex-end;
}

.menuBtn {
  @include globals.hideUp(vars.$mobileBreakpoint);
}
