@use '@/common/variables.scss' as vars;

.item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem 1rem 6rem;
  word-break: wrap;
  overflow-x: hidden;
  gap: 2rem;

  @include vars.md {
    padding: 1rem 4rem 1rem 4rem;
  }

  @include vars.sm {
    padding: 1rem 2rem 1rem 2rem;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 1rem;
  }
}

.itemDivider {
  height: 1px;
  background-color: vars.$third;
  margin: 0 2rem 0 2rem;
}

.infoCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 70%;
}

.infoColFull {
  @extend .infoCol;
  width: 100%;
}

.songTitle {
  display: block;
  color: vars.$textLight;
  font-size: 1.125rem;
  line-height: 1.75rem;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artistTitle {
  color: vars.$textDark;
  font-size: 1rem;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.createdCol {
  display: flex;
  flex-direction: column;
  color: vars.$text;
  font-size: 0.75rem;
  justify-content: flex-end;
  text-align: end;
  width: 30%;
  background: end;
}

.createdBy {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
