@use '@/common/variables.scss' as vars;

$bg-color: hsl(0, 0%, 95%);

.note {
  height: 1.5em;
  position: relative;
  background-color: $bg-color;
  flex-grow: 0;
  flex-shrink: 0;
}

.hoverPointer {
  &:hover {
    cursor: pointer;
  }
}

.noteTxt {
  background-color: $bg-color;
  position: absolute;
  display: flex;
  align-items: center;
  color: black;
  height: 100%;
  padding: 0 5px 0 5px;
  left: 50%;
  transform: translate(-50%, 0%);
  font-weight: 600;
}

.gtrStr {
  position: absolute;
  background-color: vars.$light;
  height: 1px;
  top: 50%;
  bottom: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
}

.bar {
  position: absolute;
  background-color: vars.$light;
  height: 100%;
  width: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.noteInput {
  position: absolute;
  display: flex;
  align-items: center;
  outline: 1px solid black;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  left: 0;
  right: 0;
  border: none;
  text-align: center;
  border-radius: 0.25em;
  font-weight: 500;
}

@mixin tabBorderRadius($num) {
  $radius: 0.5rem;

  & > :nth-child(#{$num}) {
    & > :first-child {
      border-radius: 0 $radius 0 0;
    }
    & > :last-child {
      border-radius: 0 0 $radius 0;
    }
  }

  & > :nth-child(#{$num} + 1) {
    & > :first-child {
      border-radius: $radius 0 0 0;
    }
    & > :last-child {
      border-radius: 0 0 0 $radius;
    }
  }
}

.staff {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.25em;
  @include tabBorderRadius('20n');

  @include vars.md {
    @include tabBorderRadius('10n');
  }
}

.tab_col {
  display: flex;
  flex-direction: column;
  flex-basis: 5%;
  flex-shrink: 0;
  flex-grow: 0;

  @include vars.md {
    flex-basis: 10%;
  }
}
