$bg-color: rgb(20, 19, 19);

.note {
  height: 1.25em;
  position: relative;
  background-color: $bg-color;
  flex-grow: 0;
  flex-shrink: 0;
}

.hoverPointer {
  &:hover {
    cursor: pointer;
  }
}

.noteTxt {
  background-color: $bg_color;
  position: absolute;
  color: white;
  height: 100%;
  text-align: center;
  padding: 0 0.2em 0 0.2em;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-family: sans-serif;
}

.gtrStr {
  position: absolute;
  background-color: white;
  height: 0.2em;
  top: 50%;
  bottom: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
}

.noteInput {
  position: absolute;
  outline: none;
  left: 0;
  right: 0;
  border: none;
  text-align: center;
  border-radius: 0.25em;
  font-weight: bold;
  font-family: sans-serif;
}
