// colors
$background: black;
$dark1: #1f252d;
$dark12: hsl(214, 18%, 13%);
$dark2: hsl(216, 18%, 10%);
$dark3: hsl(216, 18%, 5%);
$dark3t: hsla(216, 18%, 5%, 0.7);
$light: #31363f;
$blue1: #94cdff;
$blue2: hsl(208, 100%, 75%);
$text1: hsl(0, 0%, 95%);
$text2: hsl(0, 0%, 84%);
$text21: hsl(0, 0%, 80%);
$text3: hsl(0, 0%, 74%);
$text4: hsl(0, 0%, 60%);
$red11: #db949b;
$red1: hsl(354, 50%, 40%);
$red12: hsl(354, 50%, 20%);

// dims
$headerHeight: 4rem;

// mixins
@mixin sm {
  @media (max-width: 490px) {
    @content;
  }
}

@mixin smDown {
  @media (min-width: 490px) {
    @content;
  }
}

@mixin smd {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin smdDown {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin mdDown {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin lgDown {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 1600px) {
    @content;
  }
}

@mixin xlDown {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin hideDown($px) {
  @media (max-width: $px) {
    display: none;
  }
}

@mixin hideUp($px) {
  @media (min-width: $px) {
    display: none;
  }
}
